@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier Prime', monospace;
}

h1{
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff !important;
}

.main-container{
    background-image: url(./BANNER1.jpeg);
    background-size: cover;
    color: white;
    width: 100%;
    height: 100vh;
    padding-top:20px ;
}
.main-logo{
    height: 13%;
    width: 13%;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    padding-top: 70px;
}

.heading{
    padding-top: 10px;
}

.subheading{
    padding-top: 5px;
    font-size: 25px;

}
.text-animated{
    font-size: 40px;
    padding-top: 60px;
}
#text-type{
    color: orange;
}
.btn-dsc{
    background-color: #5865F2;
   
}
.btn-likt{

    background-color: #36E19D;
}
.btn-1{
    padding: 10px 40px;
    color: white;
    border-radius:50px;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding-right:30px;
}

.icons{
    width: 40px;
    margin-right: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 100;

}
.btn-nav{
    padding: 10px 20px;
    background: rgb(255, 172, 63);
    color: white;
    border-radius:50px;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}
.bg-dark{
    color: white;
    font-family: 'Poppins', sans-serif;

}
.video_selector {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -999;
    /* opacity: 0.7; */
}
.section__title-center{
    color: white;
    padding-top: 50px;
}
.heading{
    
    color: rgb(255, 127, 22) !important;
    font-size: 35px;
    font-weight: bold !important;
    text-align: left !important;
}
.mainheadingbanner{
    font-size: 269%!important;
}
.center{
    text-align: center !important;

}

.trans{
    background:rgba(0, 0, 0, 0) !important ;
}

.desig{
    color: black;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left{
    flex: 1;
    padding-left: 110px;
}
.right{
    flex: 1;
}
.footer{
    padding-top: 4%!important;
}

.slideshow__section {
    height: 100vh;
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#slide {
    width: 100%;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

.slideshow-container {
    /* width: 1200px; */
    position: relative;
    padding-left:50px;
    padding-right: 50px;
    width:1300px;

    margin-left: -29%!important;

}
.buttonslider{
    margin-top:-5%;
    padding-bottom: 10%;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
@media only screen and  (max-width: 700px)
{
    .apart img{
       width: 50vw;
    }
    .left{
        padding-left:0px;
    }
    .left img{
        width:125px;
        display: none!important;
    }
    .mainheadingbanner{
        text-align: center!important;
    }
    .subheading{
        text-align: center!important;
    }
    .text-animated{
        text-align: center!important;
    }
    .buttonslider{
        top: 242px!important;
        left: 8px!important;
    }
    .right{
        flex: auto;
    }
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }